//color

$_icons-border: #c6cbcd;
$_icon-facebook: #4267b2;
$_icon-twitter: #1da1f2;
$_icon-linkedin: #0077b5;

$_main-text: #ffffff;
$_firstscreen-mask: #252b49;
$_card-title: #2d3033;
$_card-post: #ff4343;
$_card-text: #6c7279;

$_h2-title: #000000;
$_subtitle: #000000;
$_button: #ff4343;
$_button-hover: #e71414;

$_scroll-bck-fst: #5c3249;
$_scroll-bck-scn: #19133e;

$_tabs-border: #7e5d6f;
$_tabs-border-hover: rgba(
  $color: #7e5d6f,
  $alpha: 0.7,
);

$_about-bg-color: #353c65;
$_about-title: #fff;
$_about-text: #fff;

$_footer-bg-color: #2c3154;
$_span-first-part: #808080;
$_span-second-part: #ffffff;

$_logo-firstpart: #656980;
$_logo-secondpart: #fff;
