@media (max-width: 1024px) {
  .header-navigation-list-item a {
    font-size: 12px;
  }

  .first-screen {
    padding: 270px 0 126px;
  }
  .first-screen-title {
    width: 984px;
    font-size: 48px;
    margin-bottom: 62px;
  }
  .first-screen-text {
    width: 750px;
    margin-bottom: 89px;
    p {
      font-size: 18px;
    }
  }

  .main-button {
    a {
      width: 314px;
      margin: auto;
    }
  }

  .features-cards-vrap {
    grid-template-columns: 315px 315px 315px;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }

  .features-card-icon {
    width: 85px;
    height: 85px;
    margin-bottom: 24px;
  }
  .card-title {
    font-size: 18px;
  }
  .card-text p {
    font-size: 14px;
  }

  .gallery-card-background {
    padding: 75px 0 87px;
  }

  .gallery-card-title {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .gallery-card-text p {
    font-size: 14px;
  }

  .customers-card {
    width: 227px;
    margin-right: 10px;
  }

  .customers-card-img {
    width: 227px;
    height: 227px;
  }

  .customers-card-name {
    font-size: 18px;
  }

  .customers-card-post {
    font-size: 14px;
    margin-bottom: 22px;
  }

  .customers-card-text {
    margin-bottom: 39px;
    p {
      font-size: 14px;
    }
  }

  .media-icon {
    width: 32px;
    margin-right: 5px;

    a {
      width: 32px;
      line-height: 32px;
      font-size: 15px;
    }
  }

  .slider .slider__item .slider-description .slider-description-text {
    width: 330px;
    p {
      font-size: 24px;
    }
  }

  .slider .slider__item .slider-description .slider-description-author {
    width: 330px;
    span {
      font-size: 12px;
    }
  }

  .slick-dots {
    li button {
      width: 10px;
      height: 10px;
    }
  }

  .download {
    padding: 77px 0;
  }

  .download-title {
    width: 984px;
    font-size: 24px;
  }

  .download-text {
    width: 984px;
    font-size: 14px;
  }
  #download-button a {
    width: 314px;
    margin: auto;
    font-size: 18px;
  }

  .about {
    padding: 46px 0 41px;
  }

  .about-card {
    width: 315px;
  }

  .about-title {
    font-size: 14px;
    margin-bottom: 17px;
  }

  #about-title-share {
    margin-bottom: 32px;
  }

  .about-text p,
  .about-text span {
    font-size: 14px;
  }

  #about-media-icons-list {
    width: 144px;
  }

  .footer {
    padding: 14px 0;
  }
  .footer-text {
    width: 314px;
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .header-vrap {
    border-bottom: none;
  }
  .header-burger-button {
    display: block;
    position: relative;
    z-index: 202;
  }

  .header-navigation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../img/background/img.png);
    background-size: cover;
    background-position: center;
    transition: left 0.3s ease;
    z-index: 200;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $_firstscreen-mask;
      opacity: 0.8;
      z-index: 201;
    }

    .header-navigation-list {
      position: relative;
      z-index: 202;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 100px 20px 20px;
    }

    .header-navigation-list-item {
      width: auto;
      margin: 25px 0;

      a {
        text-align: left;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
      }
    }
    .header-navigation-list-item a:hover::after {
      bottom: -20px;
    }
  }

  .header-navigation.active {
    left: 0;
  }

  .header-burger-button button.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header-burger-button button.active::after {
    transform: rotate(-45deg);
    bottom: 8px;
  }

  .header-burger-button button.active span {
    opacity: 0;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    background: transparent;
  }

  .header-logo {
    position: relative;
    z-index: 301;
  }

  .first-screen {
    padding: 106px 0 52px;
  }

  .first-screen-title {
    width: 280px;
    font-size: 36px;
    margin-bottom: 32px;
  }

  .first-screen-text {
    width: 280px;
    p {
      font-size: 14px;
      margin-bottom: 49px;
    }
  }

  .main-button {
    width: 280px !important;
    margin: auto;

    a {
      width: 280px !important;
      line-height: 60px;
      font-size: 24px;
    }
  }

  .features {
    padding: 40px 0 35px;
  }

  .features-cards-vrap {
    grid-template-columns: 279px;
  }

  .features-card-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 21px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text p {
    font-size: 14px;
  }

  .gallery-card {
    width: 50%;
  }

  .gallery-card-background {
    padding: 46px 0 51px;
  }

  .customers {
    padding: 35px 0 41px;
  }

  .customers-card {
    width: 280px;
    margin-right: 0;
    margin-bottom: 56px;
  }

  .customers-card-img {
    width: 280px;
    height: 227px;
    margin-bottom: 25px;
  }

  .customers-card-name {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .customers-card-post {
    font-size: 14px;
    margin-bottom: 38px;
  }

  .customers-card-text {
    margin-bottom: 55px;
    p {
      font-size: 14px;
    }
  }

  .slider .slider__item {
    flex-direction: column;
    .slider-img {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .slider-description {
      padding: 40px 0 95px;
      width: 100%;
      .slider-description-text {
        width: 275px;
        margin-bottom: 20px;
        p {
          font-size: 24px;
          text-align: center;
        }
      }
      .slider-description-author {
        width: 275px;
        span {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
  .slick-prev,
  .slick-next {
    display: none;
  }

  .slick-dots {
    width: 129px;
    margin-top: 23px;
  }

  .download {
    padding: 34px 0 45px;
  }

  .download-title {
    width: 280px;
    font-size: 18px;
  }

  .download-text {
    width: 279px;
    font-size: 13px;
  }

  #download-button {
    width: 279px;
    margin: auto;

    a {
      width: 279px;
      font-size: 18px;
    }
  }
  .about {
    padding: 34px 0;
  }

  .about-vrap {
    flex-direction: column;
    align-items: center;
  }

  .about-card {
    width: 280px;
    margin-bottom: 69px;
  }
  .about-card:last-child {
    margin-bottom: 0;
  }
  .about-title {
    font-size: 14px;
    margin-bottom: 34px;
  }

  .about-text p,
  .about-text span {
    font-size: 14px;
  }

  #about-media-icons-list {
    width: 131px;
  }

  .footer {
    padding: 29px 0;
  }

  .footer-text {
    width: 280px;
    p {
      font-size: 14px;
    }
  }
}
