.scroll {
  background-color: #fff;
}

.scroll-container {
  margin-bottom: 31px;
  position: relative;
}

.scroll-container-buttons-vrap {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
}

.scroll-container-button-left,
.scroll-container-button-right {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.scroll-container-button-left::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 4px solid rgba($color: #fff, $alpha: 0.5);
  border-right: 4px solid rgba($color: #fff, $alpha: 0.5);
  transform: rotate(-135deg);
}

.scroll-container-button-right::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 4px solid rgba($color: #fff, $alpha: 0.5);
  border-right: 4px solid rgba($color: #fff, $alpha: 0.5);
  transform: rotate(45deg);
}

.scroll-container-button-left:hover,
.scroll-container-button-right:hover {
  transform: scale(1.1);
}

.scroll-container-content-active {
  display: flex;
  align-items: center;
  background-color: $_scroll-bck-fst;
}

.scroll-container-content:nth-child(odd) {
  background-color: $_scroll-bck-fst;
}

.scroll-container-content {
  display: none;
  align-items: center;
}

.scroll-container-content:nth-child(even) {
  background-color: $_scroll-bck-scn;
}

.scroll-img {
  width: 50%;
  height: auto;
  overflow: hidden;
}

.scroll-img img {
  width: 100%;
  height: 490px;
  object-fit: cover;
  display: block;
}

.scroll-description {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.scroll-description-text {
  width: 471px;
  margin: auto;
  margin-bottom: 10px;
}

.scroll-description-text p {
  font-family: 'Cardo', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  text-transform: capitalize;
  color: #fff;
}

.scroll-description-author {
  width: 471px;
  margin: auto;
}

.scroll-description-author span {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

.scroll-tabs {
  width: 170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.scroll-tab {
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid $_tabs-border;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}

.scroll-tab:hover {
  background-color: $_tabs-border;
}

.scroll-tab:active {
  background-color: $_tabs-border;
}
